.root {
    -fx-accent: #000000;
    -fx-focus-color: -fx-accent;
    -fx-base: #262729;
    -fx-background: #262729;
    -fx-control-inner-background: derive(-fx-base, 5%);
}

.darkBg{
    -fx-background-color: #1b1d1c;
}

.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.titular{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}


.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}


.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view{
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}



/* --- Overlay --- */
.overlay {
    -fx-background-color: #00000080;
}

.rBox {
    -fx-background-color: #262729;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}


/* --- Diagramme --- */
.chart-vertical-grid-lines {
    -fx-stroke: #ffffff80;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #ffffff80;
}

.chart-series-line {
    -fx-stroke: #009de0;
}

.chart-line-symbol {
    -fx-background-color: #009de0, #009de0;
}


/* --- Button --- */
.button{
    -fx-focus-traversable: false;
}
/* Blau und Rund */
.rBlue{
    -fx-background-color: #009de0!important;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Dunkelblau und Rund */
.rBlueDark{
    -fx-background-color: #008bc6;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Grau und Rund */
.rGray{
    -fx-background-color: #333333;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Rot und Rund */
.rRed{
    -fx-background-color: #FF0000;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Blauer Rand innen Transperent */
.bBlue{
    -fx-border-color: #009de0;
    -fx-border-width: 2px;
    -fx-border-radius: 30;
    -fx-background-color: #00000000;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Grau Rand innen Transperent */
.bGray{
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-border-radius: 30;
    -fx-background-color: #00000000;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
/* Button rechts im TableView */
.up-down-btn, .btnTransp30 {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-color: #00000000;
    -fx-text-fill: white;
}

/* Overlay Menü */
.blueButtonMenu {
    -fx-background-color: #49c7ff;
    -fx-background-radius: 6 0 6 6;
}

.blueButtonMenu .button {
    -fx-background-color: #009de0;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-font-size: 14px;
}

/* Overlaybox */
.boxRadius{
    -fx-background-radius: 4;
}

/* Hintergrund Transparent und Schriftfarbe */
.tWhite{
    -fx-background-color: #00000000;
    -fx-text-fill: white;
}

.tBlue{
    -fx-background-color: #00000000;
    -fx-text-fill: #009de0;
}

/* Schriftfarben */
.text-white {
    -fx-fill: #ffffff;
}

.text-blue {
    -fx-fill: #009de0;
}

/* Icon über der Infobox rund und optimierter Rand */
.dark-border {
    -fx-border-color: #262729;
    -fx-border-width: 2px;
    -fx-border-radius: 30;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,1), 3, 0, 0, 0);
}

/* ListView */
.ListView12, .ListView14, .ListView18 {
    -fx-background-color: transparent;
}

.ListView12 .cell {
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

.ListView14 .cell {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

.ListView18 .cell {
    -fx-font-size: 18px;
    -fx-alignment: center-left;
}

.textfeld {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 2 0; /* Top Right Bottom Left */
}
